<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <table>
      <Row>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Section</Data></Cell>
        <Cell><Data ss:Type="String">Coach</Data></Cell>
        <Cell><Data ss:Type="String">Cell</Data></Cell>
      </Row>
      <% @teams.each do |team| %>
        <Row>
          <Cell><Data ss:Type="String"><%= team.name %></Data></Cell>
          <Cell><Data ss:Type="String"><%= team.section %></Data></Cell>
          <Cell><Data ss:Type="String"><%= team.coach %></Data></Cell>
          <Cell><Data ss:Type="String"><%= team.cell %></Data></Cell>
        </Row>
      <% end %>
    </table>
  </Worksheet>
</Workbook>