<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h1> Hey <%= @user.name %></h1>
    <p>
        Welcome to the MSJ Wrestling Invitational Website.  In efforts to maintain the quality and efficiency of our tournament, we have made it easier for coaches to enter their participating wrestlers.

        You will also have an opportunity to view the wrestlers from competing schools as well as the tournaments they have attended.

        We need your help to make this possible.  Please take the following action so that we can make this run as smoothly as possible for everyone and create an enjoyable experience for all teams, coaches and wrestlers.

        1)  visit  www.msjwrestlinginvitational.com

        2)  login.    username:  <%= @user.email %>
                      password:  <%= @user.password %>

        3)  VERIFY YOUR TEAM INFORMATION IS CORRECT.  If it is not, click EDIT and update it.

        4)  Click the ADD TOURNAMENT button to add the list of tournaments you competed in this   season.

        5)  Click the ADD WRESTLER button to add your wrestlers one by one.

        6)  That's it. No more paper submission sheet required.  The information on this site IS your submission sheet.

        If you have ANY questions, please contact Larry Katz @ 510-543-5940 or Scott Katz @ 323-317-5900.

        Thank you for your help in making this tournament excellent.  Without you there would be no tournament.

        Sincerely,


        MSJ Wrestling



    </p>
  </body>
</html>