<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h1> <%= @user.name %></h1>
      <p>
        The MSJ Invitational is just over a week away, Feb 6th-7th.  We now need to have your roster entries in order to establish the seeds and set up the tournament brackets.  To make your task easier this year, we have gone to a direct online entry system.
      </p><br>

      <p>
        The ABSOLUTE DEADLINE for getting your rosters entered for entry and seeding purposes is 3 PM, Tuesday, Feb 3rd.  Teams that have not submitted their entries by that time will be dropped from the tournament.  Please do not make us chase you to get your lineups in.
      </p><br>

      <p>
        Please take the following action so that we can make this run as smoothly as possible for everyone and create an enjoyable experience for all teams, coaches and wrestlers.
      </p><br>

      <p>
        1)  visit  <%= link_to "MSJ Wrestling Invitational Website", "www.msjwrestling.com"  %>
      </p><br>

      <p>
        2)  Login:    <h4><ul>YOUR USERNAME:  <%= @user.email %> </ul></h4>
                      <h4><ul> YOUR PASSWORD:  <%= @user.password %></ul></h4>
      </p><br>

      <p>
        3)  VERIFY YOUR TEAM CONTACT INFORMATION IS CORRECT.  If it is not, click EDIT and update it.
      </p><br>

      <p>
        4)  Input the tournaments you entered this season.
      </p><br>

      <p>
        5)  Click the ADD WRESTLER button to add your wrestlers one by one, weight by weight.
      </p><br>

      <p>
        6)  That's it.  If you make a mistake, just click the edit button next to your wrestler's name and input the corrected data.
      </p><br>

      <p>
        If you have ANY questions, please contact Larry Katz @ 510-543-5940 or Scott Katz @ 323-317-5900.
      </p><br>

      <p>
        Sincerely,


        MSJ Wrestling



    </p>
  </body>
</html>