<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
  <body>
    <h1> Hey Dude </h1>
    <p>
      <%= @user.name %> just updated a wrestler's information!
    </p>
  </body>
</html>