<div class="information">
  <p>
    MSJ is one of the oldest continuously running tournaments in Northern California and the season's latest elite level tournament in the entire state.  It will give your best wrestlers exposure to top flight competition going into the post season.  Most of the the top ranked teams in both the North Coast and Central Coast will be there with additional strong representation from Central Section and Nevada as well.
  </h4>

  <p>
    This is a 32 man double elimination tournament with one-and-out pigtails if necessary.  We conduct two rounds of championship and consolation on day one.  You are out by 7:30PM latest on Friday.  Quarterfinals are on day two.  Medals are awarded to the top six place winners (not eight).  We award one outstanding wrestler only.  No awards are given for fastest pin, most pins, longest nosebleed or other dubious achievement.
   </p>

  <p>
    As usual it will be held in the "SUPER-PLEX" facilities of Mission San Jose High School in Fremont.  It runs on time and features an outstanding hospitality room.  We promise there won't be enough room to sit and it will probably rain at least one day.
  </p>

  <p>
    Last year 70 teams were represented at MSJ.   Clovis took the title for the fourth consecutive year on their way to an unprecedented ninth CIF State Team championship.
  </p>

  <p>
    Out of 373 wrestlers in last year's starting field, 68 qualified to Bakersfield and produced 11 CIF State Medalists including three state champions.
  </p>
</div>