<div class="information">
  <p>
    ENTRY FEE
  </p>

  <p>
    Full Teams:   <br>$400 if paid in full by November 1, 2014 <br>
                  $425 after December 1, 2014 <br>
                  $450 after January 1, 2015 <br><br>

    Individual Entries:  $40 per wrestler up to six entries.  Seven or more entries pay full team price.
  </p>

  <p>
    Team weigh-in priority on Friday morning Feb 6, will be in the order that entry fees are received.<br><br>
  </p>

  <p>
    ENTERING THE TOURNAMENT<br>
    Official invitations will be sent by September 15, 2014.  Invitations are sent to the top 30 teams of the prior year plus selected teams who have historically supported the tournament.  If you do not receive a team invitation you may still be added to our waiting list by submitting the entry request form below.  We will notify you by Thanksgiving if we have space for your team.<br>
  </p>

  <p>
    Additional individual entries will be accepted for the 2015 tournament until the brackets are full.  Any MSJ medalist or section medalist from a previous year is also welcome regardless of whether his full team is invited.<br>
  </p>

  <p>
   Due to the size of the tournament and facilities limitations, we will give first priority to highly competitive teams and individuals with accomplished tournament records and fully paid entries.
  </p>

</div>