<div class="information">
  <p><h4>
    2015 Mission San Jose Tournament Schedule</h4>
  </p><br>

  <p>
  FRIDAY, February 6, 2015  Two rounds of Championship and two rounds of Consolation
</p><br>

    <ul>6:30 AM-         Weigh-In</ul>
    <ul>9:00 AM-         Outbracket matches - (winners advance / losers are out) -                  6 Mats</ul>

   <ul>10:00 AM-        Championship Round 1 ---                          6 Mats</ul>

    <ul>2:00 PM-         Championship Round 2 ---                           4 Mats<br></ul>
                         <ul>Consolation Round 1 ---                               2 Mats</ul>

    <ul>6:30 PM         Consolation Round 2 ---                              6 Mats</ul><br>

<h4>                         WRESTLING WILL BE COMPLETED BY 7:00 PM FRIDAY EVENING</h4><br>

    <p>SATURDAY, February 7, 2015</p>

      <ul>6:30 AM-         Weigh-in</ul>

     <ul>8:30 AM-         Consolation Round 3 ---                             6 Mats</ul>

                          <h4>Starting on 6 mats reducing to 2 mats at 9:00</h4><br>

    <ul>9:15 AM         Quarterfinals ---                                         4 Mats</ul>

   <ul>10:15 AM         Consolation Round 4 ---                           2/6 Mats</ul><br>
                          <h4>Start on 2 mats, 6 after quarter's</h4><br>

    <ul>11:45 PM         Semifinals ---                                            2  Mats</ul>

     <ul>12:30 PM       Consolation Round 5 ---                             2/6 Mats</ul><br>

                          <h4>Start on 2 mats, 6 after semi's</h4><br>

    <ul>2:00 PM          Coaches & Officials Break</ul>

    <ul>2:30 PM         Consolation Semifinals  ---                         6 Mats</ul>

     <ul>3:30 PM         3rd & 5th Place Medal Matches ---              4 Mats</ul>

     <ul>4:30 PM         Clear gym to set up for finals</ul>

     <ul>5:00 PM         Finals  ---                                                 1 Mat</ul><br>


<h4>Times are approximate but Semifinals and Finals will not start earlier than listed above.</h4><br><br><br><br>
</div>



