<div class="team-name">
  <h3>LEAGUES ENTERED</h3>


</div>
<div class="container" ng-view="">
  <div class="row">
    <div class="panel">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover ">
            <thead>
              <tr>
               <th class="col-md-1">League</th>
                <th class="col-md-1">League Rep</th>
                <th class="col-md-1">Section Qualifiers / Alternates</th>
               </th>
                <% if current_user.admin? %>
                  <th class="col-md-1">Cell</th>
                  <th class="col-md-1">Email</th>
                  <th class="col-md-1">Edit User Info</th>
                  <th class="col-md-1">Delete</th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <% if current_user.admin? || user.league != "" %>
                  <%= render partial: 'users/table_row', locals: { user: user } %>

                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
