
  <table class="table table-condensed table-bordered">
    <thead>
      <tr>
        <th class="col-md-2">Name</th>
        <th class="col-md-1">Section</th>
        <th class="col-md-1">Coach</th>
        <th class="col-md-1">Cell</th>
        <th class="col-md-1"></th>
        <th class="col-md-1"></th>
        <th class="col-md-1"></th>
      </tr>
    </thead>
    <tbody>
      <% @teams.each do |team| %>
        <%= render partial: '/shared/table_row', locals: { team: team } %>
      <% end %>
    </tbody>
  </table>
