<div class="team-name">
  <h3>TEAMS ENTERED</h3>

  <p>
  <% if current_user.admin? %>
    Download:
      <%= link_to "CSV", teams_path(format: "csv") %> |
      <%= link_to "Excel", teams_path(format: "xls") %>
  <% end %>
  </p>
</div>
<div class="container" ng-view="">
  <div class="row">
    <div class="panel">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-bordered table-hover ">
            <thead>
              <tr>
               <th class="col-md-1">Team Name</th>
                <th class="col-md-1">Section</th>
                <th class="col-md-1">Coach</th>
                <th class="col-md-1">Team Roster</th>
               </th>
                <% if current_user.admin? %>
                  <th class="col-md-1">Cell</th>
                  <th class="col-md-1">Email</th>
                  <th class="col-md-1">Edit Team Info</th>
                  <th class="col-md-1">Delete</th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <% if current_user.admin? %>
                  <%= render partial: 'users/table_row', locals: { user: user } %>
                <% elsif user.school != "" %>
                  <%= render partial: 'users/table_row', locals: { user: user } %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
