<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    About   Teams Entered   Entry Information   Map to MSJ   2014 Place Winners  Hotel   Full Results and Brackets Prior Years    Champions by weight class 1990-2013
  </div>
</nav>