<div class="team-name">
  <h3><%= @user.school.upcase %></h3>
  <h4>2014-15 TOURNAMENTS</h4><br>

  <table class="table table-condensed table-bordered" id="tournaments_table">
    <thead>
      <tr>
        <th>Tournament Name</th>
        <% if current_user.admin? %>
        <th></th>
        <th></th>
      <% end %>
      </tr>
    </thead>
    <tbody>
      <% @tournaments.each do |tournament, user| %>
        <%= render partial: 'users/tournaments/table_row', locals: { tournament: tournament, user: user } %>
      <% end %>
    </tbody>
  </table>

  <div class="add_wrestler_button">
    <% if current_user.admin? || current_user.id == @user.id %>
    <h3><button type="button" class="btn-large btn-default"><%= link_to 'Add Tournament', '#new_user_tournament_modal', 'data-toggle' => 'modal' %></button></h3>
    <% end %>

    <div class="modal fade" id="new_user_tournament_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
       inde <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Create new tournament</h4>
          </div>
          <div class="modal-body">
            <%= render 'form', modal: true %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>