.carousel {


    margin-left: auto;
    margin-right: auto;
}

ul.nav {

  float: top-right;

}

.carousel-slide {

  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;

}
.item img {


  width: auto;
  height: 350px;
  max-height: 350px;
  margin: 0 auto;

}

.modal-dialog {

  width: 500px


}
div.banner {


  text-align: center;

}

div.registration {

  float: left;
  margin-left: 25px;

}

div.registration img {


  float: right;
}

div.teams {

  margin-left: auto;
  margin-right: auto;

}

.teams h1 {

  text-align: center;

}

.team {

  max-width: 300px;
  padding: 39px 99px 59px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;

}

.table {

  margin-left: 100px;
  margin-right: 100px;
}

.announcement {

  text-align: center;

}

.container {

  width: 100%;

}

body {

  padding-top: 120px;
  padding-bottom: 50px;

}
.container li {

  padding-top: 0;
  display: inline-block;
  *display:inline;
  *zoom:1;
  vertical-align: top;

}

.container h4 {

  padding-bottom: 10px;
}

.banner {

  text-align: center;
  float: none;
  color: green;

}

.nav .banner {

  text-align: center;
  color: green;
}

.banner h4 {

  color: black;
}

.container h3, h4 {
  margin: 0 auto;
  text-align: center;


}

.border-wrestler-div {

padding: 12px;

}


.navbar {

  padding: 12px;
  padding-bottom: 0px;

}

.team-name {

  text-align: center;


}

.team-name  {

  float: center;
  text-align: center;


}

.add_wrestler_button {

  margin-top: 25px;
  text-align: center;

}
.navbar-header img {

  max-height: 50px;
  padding-bottom: 12px;

}

.float .button {

  padding-right: 20px;

}
/* User sign in and sign forms. */
.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

body, html {

width: 100%;

}

table {

  max-width: 600px;

}
.information {

  color: BLACK;
  font-size: 20px;
  margin-left: 100px;
  margin-right: 100px;

}

#nav {

  text-align: justify;
  min-width: 500px;

}

#nav:after {

  content: '';
  display: inline-block;
  width: 100%;

}

#nav a {

  display: inline-block;

}

.watermark-container .watermark {
   opacity: 0.2;
    color: BLACK;
    position: fixed;
    bottom: 250px;
    right: 420px;
    text-align: center;
    z-index:99;



}